### Java ###
# Compiled class file
*.class
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Maven ###
target/
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### Intellij ###
out/
.idea/
*.iml
*.ipr
*.iws

